<!DOCTYPE html>
<html>
        <body>
                <h2 align="center">Greetings!</h2>
                <p align="center">You requested an email via <a href="https://github.com/samjtro/sn">sn</a>. The results are below.</p> 
                
                {{range .}}
                        <h4>{{.Keyword}}</h4>
                                <ul>
                                        {{range .HeadlineURLs}}
                                        <li><a href={{.URL}}>{{.Headline}}</a></li>
                                        {{end}}
                                </ul>
                                
                {{end}} 
        </body>
</html>
